@import "variables";
body{
  font-family: $font-text;
  background-color: $asphalt;
  color: $clouds;
font-size: $text-font-size;
}
  h1,h2,h3,h4,h5,h6{
    font-family: $font-heading;
  }
  nav{
    background-color: $clouds;
    ul{
      li{
        display:inline-block;
        a{
          display:block;
          padding: 20px;
          color: $asphalt;
          border- #{nav-border-side}:1px solid $asphalt;
          border-right: 1px solid $asphalt;
          transition: all 300ms ease-in-out;
          &:hover{
            color: $clouds;
            background-color: $asphalt;

          }
        }
      }
    }
  }
